{% if socialMedia.facebook %}
    <li>
        <a href="{{ socialMedia.facebook }}" target="_blank" class="nav__link nav__link--facebook">
            <i class="icon icon--facebook"></i>
            <span class="visuallyhidden">facebook</span>
        </a>
    </li>
{% endif %}
{% if socialMedia.instagram %}
    <li>
        <a href="{{ socialMedia.instagram }}" target="_blank" class="nav__link nav__link--instagram">
            <i class="icon icon--instagram"></i>
            <span class="visuallyhidden">instagram</span>
        </a>
    </li>
{% endif %}
{% if socialMedia.linkedin %}
    <li>
        <a href="{{ socialMedia.linkedin }}" target="_blank" class="nav__link nav__link--linkedin">
            <i class="icon icon--linkedin"></i>
            <span class="visuallyhidden">linkedin</span>
        </a>
    </li>
{% endif %}
{% if socialMedia.pinterest %}
    <li>
        <a href="{{ socialMedia.pinterest }}" target="_blank" class="nav__link nav__link--pinterest">
            <i class="icon icon--pinterest"></i>
            <span class="visuallyhidden">pinterest</span>
        </a>
    </li>
{% endif %}
{% if socialMedia.twitter %}
    <li>
        <a href="{{ socialMedia.twitter }}" target="_blank" class="nav__link nav__link--twitter">
            <i class="icon icon--twitter"></i>
            <span class="visuallyhidden">twitter</span>
        </a>
    </li>
{% endif %}
{% if socialMedia.youtube %}
    <li>
        <a href="{{ socialMedia.youtube }}" target="_blank" class="nav__link nav__link--youtube">
            <i class="icon icon--youtube"></i>
            <span class="visuallyhidden">youtube</span>
        </a>
    </li>
{% endif %}
