{% if settings.section is not defined  %}
    {% if block['backgroundColor'] is defined %}
        {% set class = 'block block--panel block--' ~block.backgroundColor %}
    {% endif %}
{% else %}
    {% set class = 'block' %}
{% endif %}

<div class="{{ class }}">
    <div class="grid">
        {% for overviewEntry in block.entries %}
            <div class="grid__12 grid--bp-med__6">
                <div class="card card--nav">
                    <div class="card__content">
                        <div class="card__heading">
                            <h2>
                                <a href="{{ overviewEntry.url }}">{{ overviewEntry.overviewTitle ? overviewEntry.overviewTitle : overviewEntry.title }}</a>
                            </h2>
                        </div>
                        <div class="card__body">
                            {% if overviewEntry.overviewDescription %}
                                {{ overviewEntry.overviewDescription }}
                            {% endif %}
                            <a href="{{ overviewEntry.url }}" class="btn btn--read-more">{{ 'Lees meer'|t }}</a>
                            {% if overviewEntry.children|length and block.showChildren %}
                                <ul class="list--unordered list--links">
                                    {% for childEntry in overviewEntry.children %}
                                        <li>
                                            <a href="{{ childEntry.url }}">{{ childEntry.overviewTitle ? childEntry.overviewTitle : childEntry.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
